In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('flower_data.csv')
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
dataset.drop(['Id'], axis = 1,  inplace = True)
dataset

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
dataset.replace(to_replace = ['Iris-setosa','Iris-versicolor', 'Iris-virginica'], value = [0,1,2], inplace = True)
dataset

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [ ]:
dataset.iloc[:,-1].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [ ]:
dataset.sample(frac=1, replace = True).reset_index(drop = True)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.6           2.8            4.9           2.0        2
1              7.7           2.6            6.9           2.3        2
2              5.4           3.7            1.5           0.2        0
3              6.1           3.0            4.6           1.4        1
4              6.7           3.1            5.6           2.4        2
..             ...           ...            ...           ...      ...
145            6.7           3.1            4.4           1.4        1
146            6.5           3.0            5.2           2.0        2
147            6.7           3.0            5.2           2.3        2
148            6.2           3.4            5.4           2.3        2
149            6.0           3.4            4.5           1.6        1

[150 rows x 5 columns]

In [ ]:
labels = dataset.iloc[:,-1]
labels

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [ ]:
from keras.utils.np_utils import to_categorical
labels = to_categorical(labels)

In [ ]:
from sklearn.model_selection import train_test_split
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8

X = dataset.drop(columns = ['Species']).copy()
y = dataset['Species']
from keras.utils.np_utils import to_categorical
y = to_categorical(y)

# In the first step we will split the data in training and remaining dataset
train_data, X_rem, train_labels, y_rem = train_test_split(X,y, train_size=0.8)

# Now since we want the valid and test size to be equal (10% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data)
test_size = 0.5
valid_data, test_data, valid_labels, test_labels = train_test_split(X_rem,y_rem, test_size=0.5)

print(train_data.shape)
print(train_labels.shape)

print(valid_data.shape),
print(valid_labels.shape)
print(test_data.shape), 
print(test_labels.shape)

(120, 4)
(120, 3)
(15, 4)
(15, 3)
(15, 4)
(15, 3)

# Normalization

In [ ]:
mean = train_data.mean(axis=0)
train_data -= mean
std = train_data.std(axis=0)
train_data /= std
test_data -= mean
test_data /= std
valid_data -= mean
valid_data /= std

In [ ]:
test_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
65        1.030649      0.185125       0.324049      0.234869
18       -0.172443      1.755885      -1.222222     -1.241451
124       1.030649      0.633914       1.068550      1.174345
0        -0.894298      1.082702      -1.394030     -1.375662
28       -0.773989      0.858308      -1.394030     -1.375662
75        0.910340     -0.039269       0.324049      0.234869
40       -1.014608      1.082702      -1.451300     -1.241451
80       -0.413062     -1.385635      -0.019567     -0.167764
127       0.308794     -0.039269       0.610395      0.771713
54        0.790030     -0.488058       0.438587      0.369080
10       -0.533371      1.531491      -1.336761     -1.375662
109       1.632195      1.307097       1.297627      1.711189
67       -0.052134     -0.712452       0.152241     -0.301975
21       -0.894298      1.531491      -1.336761     -1.107240
115       0.669721      0.409520       0.839473      1.442767

# Model

In [ ]:
import tensorflow
from tensorflow.keras import models
from tensorflow.keras import layers
def build_model():
     # Because we will need to instantiate
     # the same model multiple time,
     # we use a function to construct it.
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',input_shape=(train_data.shape[1],)))
    #model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(3, activation = 'softmax'))
    model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
    return model

In [ ]:
import numpy as np
k = 4
num_val_samples = len(train_data) // k
num_epochs = 100
all_scores = []
val_mae = ''
for i in range(k):
    print('processing fold #', i)
    # Prepare the validation data: data from partition # k
    val_data = valid_data
    val_targets = valid_labels
    # Prepare the training data: data from all other partitions
    partial_train_data = np.concatenate([train_data[:i * num_val_samples],
                                         train_data[(i + 1) * num_val_samples:]],axis=0)
    partial_train_targets = np.concatenate([train_labels[:i * num_val_samples],
                                            train_labels[(i + 1) * num_val_samples:]],axis=0)
    # Build the Keras model (already compiled)
    model = build_model()
    # Train the model (in silent mode, verbose=0)
    model.fit(partial_train_data, partial_train_targets,epochs=num_epochs,verbose=0)
    # Evaluate the model on the validation data
    loss,accuracy = model.evaluate(val_data, val_targets, verbose=0)
    all_scores.append(accuracy)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [ ]:
all_scores

[1.0, 1.0, 1.0, 1.0]

In [ ]:
np.mean(all_scores)

1.0

In [ ]:
dataset.loc[0]
model.predict(test_data)
# dataset.loc[0].ndim

1/1 [==============================] - 0s 73ms/step

array([[9.50101577e-03, 7.81270325e-01, 2.09228620e-01],
       [9.98308182e-01, 1.65918516e-03, 3.27169510e-05],
       [1.34113463e-04, 5.87894581e-02, 9.41076338e-01],
       [9.99372780e-01, 6.21324347e-04, 6.01315787e-06],
       [9.98880506e-01, 1.10779982e-03, 1.18094831e-05],
       [8.38600006e-03, 7.40689278e-01, 2.50924677e-01],
       [9.99412417e-01, 5.81908040e-04, 5.68435235e-06],
       [6.77569723e-03, 9.78232861e-01, 1.49914315e-02],
       [2.02212553e-03, 2.37443268e-01, 7.60534644e-01],
       [2.90936022e-03, 5.00768661e-01, 4.96321946e-01],
       [9.99328732e-01, 6.62219187e-04, 9.09336450e-06],
       [1.23081873e-05, 2.14814767e-02, 9.78506267e-01],
       [1.77732483e-02, 9.51963365e-01, 3.02633867e-02],
       [9.99386549e-01, 6.06043206e-04, 7.43726696e-06],
       [9.89281398e-05, 3.16442028e-02, 9.68256891e-01]], dtype=float32)

In [ ]:
model.evaluate(test_data.values[0].reshape(1,4))
# test_data.values[0].reshape(1,4)

WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_test_function.<locals>.test_function at 0x7f50069a9160> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 [==============================] - 0s 51ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00

[0.0, 0.0]

In [ ]:
test_labels[0]

array([0., 1., 0.], dtype=float32)